Repository rgranvilla/devtrails: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write "**/*.{ts,tsx}", pnpm changeset, prettier --write

chore: integrate changeset on pre-commit
  .changeset/ten-kiwis-jump.md
  .husky/post-commit
  .husky/prepare-commit-msg
  .lintstagedrc
  package.json
Due: prettier --write

chore: remove integration changeset with husky
  .changeset/ten-kiwis-jump.md
  package.json
Due: prettier --write

feat(api-core): create tables
  .husky/pre-commit
  apps/api-core/.gitignore
  apps/api-core/package.json
  apps/api-core/prisma/migrations/20241221164532_create_initial_tables/migration.sql
  apps/api-core/prisma/migrations/20241221164943_add_avatar_url_to_user_table/migration.sql
  apps/api-core/prisma/migrations/20241221173803_alter_table_user/migration.sql
  apps/api-core/prisma/migrations/migration_lock.toml
  apps/api-core/prisma/schema.prisma
  apps/api-core/prisma/seed.ts
  apps/api-core/src/http/server.ts
  apps/api-core/tsconfig.json
  pnpm-lock.yaml
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", pnpm changeset, prettier --write

feat(api-core): refactor folders and move server and app to src/infra/http
  apps/api-core/package.json
  apps/api-core/src/core/errors/custom-errors/bad-request-error.ts
  apps/api-core/src/core/errors/custom-errors/unauthorized-error.ts
  apps/api-core/src/core/errors/error-handler.ts
  apps/api-core/src/core/middlewares/registers/index.ts
  apps/api-core/src/core/utils/normalize-file-fields.ts
  apps/api-core/src/database/lib/prisma.ts
  apps/api-core/src/http/server.ts
  apps/api-core/src/infra/http/app.ts
  apps/api-core/src/infra/http/server.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", pnpm changeset

refactor: handler errors
  apps/api-users/docs/REQUIREMENTS_CREATE_USERS.md
  apps/api-users/package.json
  apps/api-users/prisma/migrations/20241229024114_alter_user_table_and_create_super_admin_table/migration.sql
  apps/api-users/prisma/schema.prisma
  apps/api-users/prisma/vitest-environment-prisma/package.json
  apps/api-users/prisma/vitest-environment-prisma/prisma-test-environment.ts
  apps/api-users/src/app.ts
  apps/api-users/src/application/controllers/__tests__/create-user/create-user-controller.e2e.test.ts
  apps/api-users/src/application/controllers/create-user/create-user-controller.ts
  apps/api-users/src/application/dtos/create-user.dto.ts
  apps/api-users/src/application/routes/users-routes.ts
  apps/api-users/src/domain/entities/user.spec.ts
  apps/api-users/src/domain/entities/user.ts
  apps/api-users/src/domain/use-cases/create-user-use-case.spec.ts
  apps/api-users/src/domain/use-cases/create-user-use-case.ts
  apps/api-users/src/infra/mappers/userMapper.spec.ts
  apps/api-users/src/infra/mappers/userMapper.ts
  apps/api-users/src/shared/errors/custom-errors.ts
  apps/api-users/src/shared/errors/custom-errors/already-in-use-error.ts
  apps/api-users/src/shared/errors/custom-errors/bad-request-error.ts
  apps/api-users/src/shared/errors/custom-errors/unauthorized-error.ts
  apps/api-users/src/shared/errors/error-handler.ts
  apps/api-users/src/shared/errors/handle-error.ts
  apps/api-users/src/shared/errors/schema-errors.ts
  apps/api-users/vite.config.mts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", pnpm changeset, prettier --write

feat: add get, getAll and update user
  apps/api-core/docs/REQUIREMENTS_SIGNUP_USERS-FROM-GITHUB.md
  apps/api-users/docs/REQUIREMENTS_CREATE_USERS.md
  apps/api-users/docs/REQUIREMENTS_GET_ALL_USERS.md
  apps/api-users/docs/REQUIREMENTS_GET_USER.md
  apps/api-users/docs/REQUIREMENTS_UPDATE_USERS.md
  apps/api-users/package.json
  apps/api-users/prisma/migrations/20241230110915_alter_table_super_admin/migration.sql
  apps/api-users/src/app.ts
  apps/api-users/src/application/controllers/__tests__/create-user-controller.e2e.test.ts
  apps/api-users/src/application/controllers/__tests__/get-all-users-controller.e2e.test.ts
  apps/api-users/src/application/controllers/__tests__/get-user-controller.e2e.test.ts
  apps/api-users/src/application/controllers/__tests__/update-user-controller.e2e.test.ts
  apps/api-users/src/application/controllers/create-user-controller.ts
  apps/api-users/src/application/controllers/get-all-users-controller.ts
  apps/api-users/src/application/controllers/get-user-controller.ts
  apps/api-users/src/application/controllers/update-user-controller.ts
  apps/api-users/src/application/dtos/get-user.dto.ts
  apps/api-users/src/application/dtos/update-user.dto.ts
  apps/api-users/src/application/routes/users-routes.ts
  apps/api-users/src/domain/use-cases/__tests__/create-user-use-case.spec.ts
  apps/api-users/src/domain/use-cases/__tests__/get-all-users-use-case.spec.ts
  apps/api-users/src/domain/use-cases/__tests__/get-user-use-case.spec.ts
  apps/api-users/src/domain/use-cases/__tests__/update-user-use-case.spec.ts
  apps/api-users/src/domain/use-cases/get-all-users-use-case.ts
  apps/api-users/src/domain/use-cases/get-user-use-case.ts
  apps/api-users/src/domain/use-cases/update-user-use-case.ts
  apps/api-users/src/infra/middlewares/registers/index.ts
  apps/api-users/src/infra/repositories/IUsersRepository.ts
  apps/api-users/src/infra/repositories/in-memory/inMemoryUsersRepository.ts
  apps/api-users/src/infra/repositories/prisma/prismaUsersRepository.ts
  apps/api-users/vite.config.mts
  pnpm-lock.yaml
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", pnpm changeset, prettier --write

refactor: auth
  apps/api-devtrails/package.json
  apps/api-devtrails/prisma/migrations/20250103094944_create_tables/migration.sql
  apps/api-devtrails/prisma/schema.prisma
  apps/api-devtrails/src/@types/fastify.d.ts
  apps/api-devtrails/src/application/controllers/authenticate-with-password.ts
  apps/api-devtrails/src/application/controllers/refresh-token-controller.ts
  apps/api-devtrails/src/application/routes/sessions-routes.ts
  apps/api-devtrails/src/application/routes/users-routes.ts
  apps/api-devtrails/src/domain/use-cases/sessions/authenticate-credentials-use-case.ts
  apps/api-devtrails/src/domain/use-cases/sessions/refresh-token-use-case.ts
  apps/api-devtrails/src/infra/libs/axios-client.ts
  apps/api-devtrails/src/infra/middlewares/auth.ts
  apps/api-devtrails/src/infra/middlewares/registers/index.ts
  apps/api-devtrails/src/infra/middlewares/verifyJWT-v2.ts
  apps/api-devtrails/src/infra/middlewares/verifyJWT.ts
  apps/api-devtrails/src/infra/repositories/ISessionsRepository.ts
  apps/api-devtrails/src/infra/repositories/prisma/prismaSessionsRepository.ts
  packages/env/index.ts
  pnpm-lock.yaml
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", pnpm changeset, prettier --write

refactor: auth
  .husky/pre-commit
  README.md
  apps/api-devtrails/package.json
  apps/api-devtrails/prisma/db.erd.json
  apps/api-devtrails/prisma/migrations/20250103094944_create_tables/migration.sql
  apps/api-devtrails/prisma/migrations/20250201171909_create_tables/migration.sql
  apps/api-devtrails/prisma/schema.prisma
  apps/api-devtrails/prisma/seed.ts
  apps/api-devtrails/src/application/controllers/__tests__/create-user-controller.e2e.test.ts
  apps/api-devtrails/src/application/controllers/authenticate-with-password.ts
  apps/api-devtrails/src/application/controllers/refresh-token-controller.ts
  apps/api-devtrails/src/application/routes/users-routes.ts
  apps/api-devtrails/src/domain/use-cases/sessions/refresh-token-use-case.ts
  apps/api-devtrails/src/infra/middlewares/auth.ts
  apps/api-devtrails/src/infra/middlewares/verifyJWT-v2.ts
  apps/api-devtrails/src/infra/middlewares/verifyJWT.ts
  apps/api-devtrails/src/infra/repositories/prisma/prismaSessionsRepository.ts
  apps/api-devtrails/src/server.ts
  packages/env/index.ts
  pnpm-lock.yaml
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", pnpm changeset, prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write "**/*.{ts,tsx}": any of: *.{js,jsx,ts,tsx}
  pnpm changeset: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,mdx,mjs,yml,yaml,css}
